.Component {
  background-color: #ce2829;
  padding: 25rem 25rem;
}

.pizzaform {
  border: 1px solid black;
  width: 32%;
  margin: 0 auto;
}

.labelPizza {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

.costAreaContanier {
  display: flex;
  gap: 9.5rem;
  align-items: center;
  justify-content: space-between;
}

.costPizzaLabel {
  font-weight: bold;
  font-size: 2rem;
  margin-right: 7rem;
}

.orderform-body {
  background-image: none;
}

.pizzadescription {
  margin-bottom: 2rem;
}

.selectcontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.selectPizzaSize {
  font-weight: bold;
}

.pizzasizeinput {
  margin-right: 1rem;
}

.sizeArea {
  display: flex;
  flex-direction: column;
}

.selectpastry {
  display: flex;
  flex-direction: column;
  margin-right: 14rem;
}
.pastrylabel {
  font-weight: bold;
}

.additionalingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.ordernotearea {
  margin-bottom: 2.5rem;
}

.borderline {
  border-bottom: 1px solid black;
  margin-bottom: 2.5rem;
}
.ordernotelabel {
  font-weight: bold;
}

.additionalcheckboxes {
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin-left: 1rem;
}

.sumoforderarea {
  display: flex;
  justify-content: space-between;
}
.sumofordercost {
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  width: 20rem;
  flex-direction: column;
  color: black;
  margin-bottom: 1rem;
}

.orderquantitylabel {
  border: 1px solid gray;
  padding: 0 1.2rem;
  padding-top: 0.85rem;
  padding-bottom: 1.15rem;
}
